SERVICE__CRDB__DBNAME=
SERVICE__CRDB__HOST=
SERVICE__CRDB__PORT=
SERVICE__CRDB__USER=
SERVICE__CRDB__PASSWORD=
SERVICE__CRDB__SSLMODE=
SERVICE__GRPC__HOST=
SERVICE__GRPC__PORT=
SERVICE__GQL__HOST=
SERVICE__GQL__PORT=
SERVICE__CORS__ALLOWED_ORIGINS=
